<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ServerDesktopBingX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ServerDesktopBingX.Properties.Settings>
            <setting name="SW_MAIN" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SW_LCO" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SW_DB_LCO" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SW_S" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SW_DB_S" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SW_NG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SW_DB_NG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SW_ADD1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SW_DB_ADD1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SW_ADD2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SW_DB_ADD2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TB_KEY" serializeAs="String">
                <value />
            </setting>
            <setting name="TB_SECRET" serializeAs="String">
                <value />
            </setting>
            <setting name="TB_DBNAME" serializeAs="String">
                <value />
            </setting>
            <setting name="TB_LOCALHOST" serializeAs="String">
                <value />
            </setting>
            <setting name="TB_NAME_ADD1" serializeAs="String">
                <value />
            </setting>
            <setting name="TB_NAME_ADD2" serializeAs="String">
                <value />
            </setting>
            <setting name="TB_NOT_BOT_TELEGRAM_TOKEN" serializeAs="String">
                <value />
            </setting>
            <setting name="TB_LOG_BOT_TELEGRAM_TOKEN" serializeAs="String">
                <value />
            </setting>
            <setting name="SW_NOT_CHANGE_LCO" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SW_NOT_CHANGE_NG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SW_NOT_CHANGE_ADD1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SW_NOT_CHANGE_ADD2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SW_NOT_CHANGE_S" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SW_LOG_LCO" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SW_LOG_NG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SW_LOG_S" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SW_LOG_ADD1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SW_LOG_ADD2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UD_NOT_CHANGE_LCO" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UD_NOT_CHANGE_NG" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UD_NOT_CHANGE_S" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UD_NOT_CHANGE_ADD1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UD_NOT_CHANGE_ADD2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SW_NOT_BOT_TELEGRAM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SW_LOG_BOT_TELEGRAM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SW_BACKUP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TB_DIRECTORY_BACKUP" serializeAs="String">
                <value />
            </setting>
            <setting name="UD_DAYS_BACKUP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UD_STORE_BACKUP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SW_BACKUP_TELEGRAM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DTP_BACKUP" serializeAs="String">
                <value />
            </setting>
            <setting name="SW_DAILYREPORT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SW_LANGUAGE" serializeAs="String">
                <value>False</value>
            </setting>
        </ServerDesktopBingX.Properties.Settings>
    </userSettings>
</configuration>